<div
  class="editorial-photo"
  data-photo-subject-type="{{ fieldPhotoSubjectType }}"
  data-photo-subject-id="{{ fieldPhotoSubjectId }}"
  data-photo-placement="{{ fieldPhotoPlacement or 'inline' }}"
  hidden
></div>
