---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
{% for redirect in businessBriefRedirects -%}
{{ redirect.from }} {{ redirect.to }} {{ redirect.status }}
{% endfor %}
{% for redirect in districtCompatibilityRedirects -%}
{{ redirect.from }} {{ redirect.to }} {{ redirect.status }}
{% endfor %}
